/* style.css */

/* Image arrière plan */

/* Couleur du titre */
h1 {
    color: #3366ff; /* Exemple de couleur bleue */
}


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px; /* Exemple de marges de 20px autour du corps */
    background-image: url("img/background.jpg");
    background-size: 1900px;
}
